@if (video()) {
  <div class="group relative">
<!--  <img [src]="video()!.snippet.thumbnails['medium'].url"-->
<!--       [alt]="video()!.snippet.title"-->
<!--       [width]="video()!.snippet.thumbnails['medium'].width"-->
<!--       [height]="video()!.snippet.thumbnails['medium'].height"-->
<!--       class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80" />-->
  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <iframe
          [src]="'https://www.yout-ube.com/embed/' + video()!.id | safeUrl"
          width="100%"
          height="500"
          frameborder="0"
          allowfullscreen>
        </iframe>
          {{ video()!.snippet.title }}
      </h3>
      <p class="mt-1 text-sm text-gray-500"></p>
    </div>
    <p class="text-sm font-medium text-gray-900"></p>
  </div>
</div>
} @else {
  <p>Chargement...</p>
}

